name: Continuous Integration
on: [push, pull_request]
jobs:
  markdown:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Lint Markdown
      uses: actionshub/markdownlint@1.2.0
  ruby:
    strategy:
      fail-fast: false
      matrix:
        ruby: [2.5, 2.6]
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Setup Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
    - name: Install dependencies
      run: bundle install
    - name: Run rubocop
      run: ./scripts/run_rubocop.sh
    - name: Run tests
      run: bundle exec rake
